.hero {
  width: 100%;
  min-height: 800px;
  background-image: $bg-fond-hero;

  @media (max-width: $desktop) {
    min-height: 1034px;
  }

  @media (max-width: $tablet) {
    min-height: 568px;
  }
}

.hero__slider {
  width: 1440px;
  min-height: 800px;
  color: $white-100;

  @media (max-width: $desktop) {
    width: 768px;
    min-height: 1034px;
  }

  @media (max-width: $tablet) {
    width: 320px;
    min-height: 568px;
  }
}

.hero__picture-fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__container {
  @include center;

  padding-top: 200px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 800px;

  @media (max-width: $desktop) {
    padding-top: 342px;
    min-height: 1034px;
  }

  @media (max-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 568px;
  }
}

.hero__text {
  width: 944px;
  display: grid;

  @media (max-width: $desktop) {
    width: 678px;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: $tablet) {
    margin-top: 104.5px;
    width: 290px;
  }
}

.hero__content {
  display: grid;

  h3 {
    @include title;

    margin-bottom: 25px;
    font-size: 77px;
    color: $white-100;

    @media (max-width: $desktop) {
      text-indent: 31px;
      margin-bottom: 14px;
      font-size: 56px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: 26px;
      text-align: center;
      text-indent: 15px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;
    width: 420px;
    font-size: 17px;
    line-height: 141%;

    @media (max-width: $desktop) {
      justify-self: center;
      width: 500px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 60px;
      width: 290px;
      font-size: 15px;
      line-height: 133%;
    }
  }
}

.hero__link {
  @include btn;

  width: 180px;

  @media (max-width: $desktop) {
    justify-self: center;
  }
}

.hero__details {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;

  @media (max-width: $desktop) {
    display: none;
  }
}

.hero__duration {
  @include bg-icon(days);

  margin: 0;
  padding: 14px 20px;
  font-size: 12px;
  outline: 1px solid $white-50;

  &--level::before {
    mask-image: url("/__spritemap#sprite-level-view");
  }
}

.hero__pagination {
  margin-bottom: 72px;
  right: 0;
  padding: 12px 0;
  display: grid;
  grid-template-columns: repeat(3, 20px) 120px;
  justify-content: end;
  gap: 16px;

  @media (max-width: $desktop) {
    margin-bottom: 0;
    padding: 32px 0;
    grid-template-columns: repeat(3, 25px);
    justify-content: center;
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 20px);
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid $white-100;
    background: none;

    @media (max-width: $tablet) {
      width: 16px;
      height: 16px;
    }

    &:hover {
      border: 1px solid $white-100;
      background-color: #d9d9d9;
    }

    &:focus {
      border: 1px solid $white-100;
    }

    &:focus::after {
      width: 24px;
      height: 24px;
      outline: 1px solid $white-50;
    }

    &:active {
      background-color: $white-50;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $white-100;
  }
}
