.title {
  @include title;
}

.title__shadow {
  margin: 0;
  font-family: $font-family;
  font-size: 55px;
  font-weight: 800;
  line-height: 100%;
  color: $primary;
  opacity: 0.03;

  @media (max-width: $desktop) {
    font-size: 40px;
  }

  @media (max-width: $tablet) {
    font-size: 26px;
  }
}
