// colors
$primary: #2d383f;
$error: #ff121f;
$active: #1c3374;
$stroke-br: rgba(45, 56, 63, 0.2);
$disabled: #999999;
$white-100: #ffffff;
$white-20: rgba(255, 255, 255, 0.2);
$white-50: rgba(255, 255, 255, 0.5);
$white-10: rgba(255, 255, 255, 0.1);
$additional-100: #0266c1;
$additional-20: rgba(2, 102, 193, 0.1);
$additional-10: rgba(2, 102, 193, 0.1);
$overlay-50: rgba(0, 0, 0, 0.5);
$dark: #030a1a;
$bg-fond-hero: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.33) 100%);


// fonts

$font-family: "Montserrat", "Arial", sans-serif;


// breakpoints

$tablet: 767px;
$desktop: 1439px;
